---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Tentang Yayasan Bina Insan Mustaqbal</h1>
			<p>
				Yayasan Bina Insan Mustaqbal bergerak dalam bidang Pendidikan Alternatif
				yang berbasis pada Metode Pendidikan Karakter Nabawiyah. Saat ini
				Yayasan fokus dalam pengembangan Sekolah Bakat Insan Mustaqbal dan
				pengembangan Metode Pendidikan Karakter Nabawiyah.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/mustaqbal/hero-mustaqbal.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<h3>Manifesto Yayasan Bina Insan Mustaqbal</h3>

    <p>
      <strong>
        Hasil pekerjaan yang berkualitas bergantung pada 2 hal : Manusia yang
        bekerja sesuai kompetensi dan bakatnya, dan pekerjaan yang bermanfaat
        untuk umat. Idealnya, kedua hal ini sedapat mungkin ditemukan sedini
        mungkin untuk meningkatkan efisiensi dan efektivitas umur manusia yang
        terbatas. Adapun di antara keduanya merupakan jalan tengah yang harus
        diambil untuk mendapatkan manfaat yang terbesar yang ada dan mengurangi
        mafsadat yang menghadang.
      </strong>
    </p>
    <p>
      Manusia sejatinya lahir memiliki berbagai fitrah, salah satunya adalah
      fitrah bakat. Fitrah bakat telah diberikan oleh Allah Azza wa Jalla
      kepada setiap manusia dengan keunikannya masing-masing. Fitrah bakat ini
      sebenarnya sudah bisa dilihat dari kecil (thufulah), buktinya adalah
      kepribadian anak yang berbeda-beda walaupun lahir dari orang tua yang
      sama dan dalam lingkungan yang sama. Hanya dikarenakan pendidikan modern
      menuntut kesetaraan, seringkali perbedaan ini dianggap sebagai
      kelemahan, padahal ia adalah hanya bakat yang belum tumbuh dengan
      sempurna. Pendidik-lah yang seharusnya bijak dalam menanggapi masalah
      ini dan mengambil jalan tengah.
    </p>
    <p>
      Manusia juga lahir dengan fitrah perkembangan, bahwa seorang anak
      sebagaimana tubuhnya, berkembang dari kecil menjadi besar, dari tidak
      tahu menjadi tahu, dari tidak mengerti menjadi mengerti dari bisa
      menjadi tidak bisa; semua pada waktunya sesuai takdir Allah Azza wa
      Jalla, pendidik hanya menjadi wasilah tersebut. Perkembangan tidak lain
      adalah waktu yang dibutuhkan untuk mencapai sebuah kompetensi.
    </p>
    <p>
      Kompetensi terbagi menjadi dua, kompetensi wajib untuk mencapai pribadi
      yang sholeh sehingga cukup secara agama dan mampu bertahan hidup di
      masyarakat; kedua, kompetensi khusus untuk mencapai pribadi yang muslih
      sehingga dapat berkontribusi kepada masyarakat sesuai dengan bakatnya
      masing-masing. Fitrah perkembangan ini wajib dilaksanakan dengan tahapan
      yang berurutan dan metode pendidikannya sedapat mungkin disesuaikan
      dengan masing-masing bakat peserta didik. Asah bagian kekuatannya,
      pelihara kelemahannya sampai tahap cukup.
    </p>
    <p>
      Dunia dari hari ke hari terus berkembang seiring zaman, pendidikan
      sejatinya dapat dengan tangkas menjawab tantangan ini dengan
      mempertemukan antara kebutuhan dengan pasokan pemain pasar yang
      berkompetensi sesuai bakatnya. Dengan pendidikan sesuai bakat, peserta
      didik segera mungkin dipertemukan dengan berbagai bidang pekerjaan
      sehingga dengan cepat mengetahui target profesi yang diinginkan. Dari
      pengetahuan ini, pembelajaran yang dilakukan dapat lebih tepat sasaran,
      dan peserta didik menjadi lebih bersemangat dan mampu untuk meningkatkan
      kemampuan dirinya secara mandiri. Di sisi lain, pengalaman dari para
      praktisi dan pengalaman pribadi secara langsung tentu lebih berharga dan
      mengena daripada teoritis yang diberikan oleh pendidik secara umum.
      Dengan praktek secara langsung, pengalaman ini lebih cepat ditemukan dan
      dijadikan pelajaran daripada harus menunggu menyelesaikan materi seperti
      biasanya.
    </p>
    <p>
      Pada awalnya, dapat dipastikan kondisi ideal pertemuan antara bakat dan
      lowongan pekerjaan yang tepat tidak dapat secara langsung ditemukan.
      Disinilah fitrah iman dan belajar berkontribusi untuk menjaga diri
      manusia untuk dapat sabar dan tawakal dengan mengambil jalan tengah dan
      bijak untuk mengambil manfaat yang terbaik yang ada dan menghindari
      mafsadat besar yang mungkin dapat terjadi. Manusia harus siap menghadapi
      kenyataan pahit dengan tetap mengambil jalan yang terbaik yang dapat
      dilakukan dengan terus sabar dan belajar.
    </p>
    <p>
      Dengan demikian, pendidikan tidak lain adalah proses pengelolaan
      kompetensi dan bakat dengan cara menumbuhkan fitrah pada diri setiap
      manusia dan mengarahkannya untuk dapat berkontribusi kepada masyarakat.
    </p>
	</TextSection>
</Layout>
