---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<AnnouncementBar
	text="Sekolah Bakat Insan Mustaqbal telah dibuka, Daftar Sekarang!"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Temukan bakat terpendammu di Sekolah Bakat!</h1>
			<p>
				Setiap insan adalah unik. Bersama mentor-mentor bepengalaman, asah
				bakatmu dan kuatkan kelemahanmu!
			</p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Daftar Sekarang! <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src={import.meta.env.BASE_URL +
					'/assets/images/sekolahbakat/hero-sekolah-bakat.jpg'}
				alt="Ayah-anak"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Namun, apabila orang tua melihat anaknya memiliki kecenderungan kepada dunia perdagangan, jual-beli, atau pada bidang lain yang diperbolehkan secara syariat, maka hendaknya orang tua memberi kesempatan kepada anaknya untuk mengembangkan potensi itu, karena setiap orang akan dimudahkan oleh Allah untuk melakukan apa yang telah ditetapkan baginya."
		customerName="Ibnul Qayyim rahimahullah"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Meniti Karir</h2>
			<p>
				Bukan hanya siap bekerja, tapi siap berkarir. Dengan metode pembelajaran
				yang berbasis bakat, kami yakin setiap lulusan akan menjadi insan yang
				mampu beradaptasi dengan berbagai kesempatan dan perubahan zaman.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>IT & Bisnis</h2>
			<p>
				Terkini dalam teknologi dan bisnis. Memadukan dua hal ini sebagai
				landasan, kami yakin setiap lulusan akan mampu memadukan keahlian dari
				bakat mereka masing-masing dengan kebutuhan di masa depan.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>Coaching & Project</h2>
			<p>
				Tidak ada lagi kelas yang membosankan. Seluruh pembelajaran mengikuti
				masukan dari siswa. Siswa akan banyak diajak berdiskusi dan melakukan
				proyek secara langsung di lapangan sesuai dengan bakat mereka
				masing-masing.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Daftar Sekarang</h2>
		<p>
			Download brosur untuk informasi lebih lengkap, hubungi kami untuk
			konsultasi dan pendaftaran!
		</p>
		<Button href="/theme/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>Spesifikasi Sekolah</h2>
			<h3>Lokasi</h3>
			<ul>
				<li>Yayasan Bina Insan Mustaqbal</li>
				<li>Jl. Raya Ciputat Parung No. 40</li>
				<li>Ciputat, Tangerang Selatan</li>
			</ul>
			<h3>Responsive</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
			<h3>Themeable</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src={import.meta.env.BASE_URL +
					'/assets/images/landing-1/landing-sticky.jpg'}
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
</Layout>
