---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<AnnouncementBar
	text="Sekolah Bakat Insan Mustaqbal telah dibuka, Daftar Sekarang!"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<TextAndImageHero>
		<div slot="text-container">
			<h1>Mendidik seperti Nabi kita mendidik sahabatnya...</h1>
			<p>
				Bersama, Yayasan Bina Insan Mustaqbal membantu dalam menerapakan Metode
				Pendidikan Karakter Nabawiyah.
			</p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Gabung Komunitas <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src={import.meta.env.BASE_URL +
					'/assets/images/landing-1/landing-hero-1.jpg'}
				alt="Ayah-anak"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Tidak akan bagus akhir umat ini kecuali dengan cara yang telah membuat bagus umat sebelumnya."
		customerName="Imam Malik bin Anas rahimahullah"
	/>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Sekolah Bakat Insan Mustaqbal telah dibuka!</h2>
		<p>
			Sekolah PKBM setara SMA/SMK telah hadir dengan fokus menemukan bakat unik
			dan menumbuhkannya sehingga setiap lulusan mencapai tingkat shalih
			(diterima masyarakat) dan muslih (berkontribusi sesuai bidangnya.)
		</p>
		<Button href={import.meta.env.BASE_URL + '/sekolahbakat'} customIcon
			>Info lebih lanjut <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
